@CHARSET "ISO-8859-1";

.yapalBoutton{
	max-width: 200px;
}

.table-col-80{
	width: 60%;
}

.header{
	height: 50px;
}
.userName {
    color: #fff;
    font-size: 16px;
}
.menu-formateur.dropdown{
	float: left;
	
}