@CHARSET "UTF-8";
/*
#8ed1d4 bleu clair
#3990a3 bleu foncé
#535c63 gris foncé
#f0e8d1 beige
#000000 noir
*/
body{
	width:800px;
	margin:auto;
	color:#535c63;
	background-image: url("img/fond_ecran_yapal.jpg");
	background-position: center; 
}

h1{
	margin-bottom: 20px;
}

.containeur{
		
}

.yapalBoutton{
	max-width: 200px;
}

.table-col-80{
	width: 60%;
	opacity:0.5;
}

.header{
	height: 100px;
	margin-bottom: 40px;
	color: #fff;
    font-size: 16px;
   
}

.logo img{
    height: 80px;
    background: white;
    border: 2px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
}


.navbar{
	background-color: #3990a3;
	height: 100px;
	margin-bottom: 40px;
	padding-left: 50px;
    padding-right: 50px;
}
.navbar-inverse {
	border-color: #3990a3;
}

.navbar-form{
	margin-top:30px;
}

.header input {
    color: black;
    font-size: 16px;
}
.menu-formateur.dropdown{
	float: left;
}

.btn-standard{
	max-width: 170px;
	min-width: 170px;
	border: 2px solid #3990a3;
	color: #3990a3;
	background-color: #fff;
	font-weight:bold;
	margin-right: 10px;
}

.btn-standard:HOVER{
	max-width: 170px;
	min-width: 170px;
	border: 2px solid #fff;
	color: #fff;
	font-weight:bold;
	background-color: #3990a3;
}
.btn-standard2{
	width:45px;
	border: 2px solid #3990a3;
	color: #3990a3;
	background-color: #fff;
	font-weight:bold;
}

.btn-standard2:HOVER{
	width:45px;
	border: 2px solid #fff;
	color: #fff;
	font-weight:bold;
	background-color: #3990a3;
}

.btn-standard-reverse{
	max-width: 170px;
	min-width: 170px;
	border: 2px solid #3990a3;
	color: #fff;
	background-color: #3990a3;
	font-weight:bold;
}

.btn-standard-reverse:HOVER{
	max-width: 170px;
	min-width: 170px;
	border: 2px solid #3990a3;
	color: #3990a3;
	font-weight:bold;
	background-color: #fff;
}

.subtilInput{
	width: 400px;
	border-bottom-width: 0px;	
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    border-bottom: 1px solid #3990a3;
}

.colSpan3{
	width: 450px;
}

tr{
	color:#535c63;
}

.test {
	background-color: #f0f0f5;
}

.resultat{
	display: flex;
    flex-direction: column;
    align-items: center;
}

#chrono{
	font-size: 40px;
	
}

.navigation{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-bottom: 80px;
	margin-top: 20px;
}

.btnMarque{
	margin-left:15px;
	margin-right:15px;
}

.validation{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}

#validerTest{
	margin-left:15px;
}

.italic{
	font-style:italic;
}

.divChrono{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	    margin-bottom: 35px;
}
.synthese{
	width: 250px;
	border:none;
}

.synthese tr{
	border:none;
	height:30px;
}

.center{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.btn-synthese{
	max-width: 100px;
	min-width: 100px;
	border: 2px solid #3990a3;
	color: #3990a3;
	background-color: #fff;
	font-weight:bold;
	height: 30px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.btn-synthese:HOVER{
	max-width: 100px;
	min-width: 100px;
	border: 2px solid #fff;
	color: #fff;
	font-weight:bold;
	background-color: #3990a3;
	height: 30px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.symbole{
	width: 50px;
}
