@CHARSET "UTF-8";

body{
	width:800px;
	margin:auto;
}

.yapalBoutton{
	max-width: 200px;
}

.table-col-80{
	width: 60%;
}

.header{
	height: 50px;
	margin-bottom: 20px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.header{
	color: #fff;
    font-size: 16px;
}

.header input {
    color: black;
    font-size: 16px;
}
.menu-formateur.dropdown{
	float: left;
	
}
